*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
    margin-top: 100px;
}
.container>h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: lightslategray;
    font-size: 2em;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}
.container>p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: start;
}
footer{
    bottom: 0;
    width: 100%;
}
@media only screen and (max-width: 600px){
    
    .container{
        margin: 15px;
        margin-top: 15%;
    }
}